<style>
    #academyMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        background: #000;
    }

</style>

<div id="academyMenu">
    <div class="menu-item"><a href="/academy/all-courses">Courses</a></div>
    <div class="menu-item"><a href="/academy/resources">Resources</a></div>
    <div class="menu-item"><a href="/academy/homework">Homework</a></div>
    <div class="menu-item"><a href="/academy/tests">Tests</a></div>
    <div class="menu-item"><a href="/academy/study">Study</a></div>
    <div class="menu-item"><a href="/academy/help">Help</a></div>
</div>