<style>
    #businessMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        padding: 5px;
        background: #000;
    }
</style>

<div id="businessMenu">
    <div class="menu-item"><a href="/entertainment/tv">TV</a></div>
    <div class="menu-item"><a href="/entertainment/movies">Movies</a></div>
    <div class="menu-item"><a href="/entertainment/audio">Audio</a></div>
    <div class="menu-item"><a href="/entertainment/books">Books</a></div>
    <div class="menu-item"><a href="/entertainment/events">Events</a></div>
    <div class="menu-item"><a href="/entertainment/help">Help</a></div>
</div>