<style>
    #mainMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: rgba(135, 206, 250, 0.05);
        box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);
    }
    .main-menu-item {
        width: 100%;
        text-align: center;
        border-top: outset 1px #fff;
        border-bottom: outset 1px #fff;
        margin-bottom: 8px;
        background: rgba(135, 206, 250, 0.25);
        box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.25), 0 0 5px rgba(0, 0, 0, 0.5);
    }

    @media screen and (orientation : landscape) {
        #mainMenu {
            padding-top: 55px;
            padding-bottom: 50px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .main-menu-item {
            border-radius: 6px;
            width: 40%;
        }

    }

</style>

<div id="mainMenu">
    <div class="main-menu-item"><a href="/users/dashboard">Dashboard</a></div>
    <div class="main-menu-item"><a href="/socialspread">SocialSpread</a></div>
    <div class="main-menu-item"><a href="/academy">Academy</a></div>
    <div class="main-menu-item"><a href="/business">Business</a></div>
    <div class="main-menu-item"><a href="/entertainment">Entertainment</a></div>
    <div class="main-menu-item"><a href="/news">News</a></div>
    <div class="main-menu-item"><a href="/wellness">Wellness</a></div>
    <div class="main-menu-item"><a href="/things">Things</a></div>
    <div class="main-menu-item"><a href="/help">Help</a></div>
</div>