<style>
    #mainMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: rgba(135, 206, 250, 0.05);
        box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);
    }
    .main-menu-item {
        width: 100%;
        text-align: center;
        border-top: outset 1px #fff;
        border-bottom: outset 1px #fff;
        margin-bottom: 8px;
        background: rgba(135, 206, 250, 0.25);
        box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.25), 0 0 5px rgba(0, 0, 0, 0.5);
    }
    .user-menu-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    @media screen and (orientation : landscape) {
        #mainMenu {
            padding-top: 55px;
            padding-bottom: 50px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .main-menu-item {
            border-radius: 6px;
            width: 40%;
        }

    }
@media screen and (min-width: 900px) {

        #mainMenu {
            padding-top: 55px;
            padding-bottom: 0;
            width: 100%;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
        }
        .main-menu-item {
            border-radius: 6px;
            width: 90%;
            margin-left: 0 auto;
            margin-bottom: 0;
        }

}

</style>

<div id="mainMenu">
    <div class="main-menu-item"><a href="/socialspread">SocialSpread</a></div>
    <div class="main-menu-item"><a href="/academy">Academy</a></div>
    <div class="main-menu-item"><a href="/business">Business</a></div>
    <div class="main-menu-item"><a href="/entertainment">Entertainment</a></div>
    <div class="main-menu-item"><a href="/news">News</a></div>
    <div class="main-menu-item"><a href="/wellness">Wellness</a></div>
    <div class="main-menu-item"><a href="/things">Things</a></div>
    <div class="main-menu-item"><a href="/help">Help</a></div>

            <div class="user-menu-buttons">
                <% if (!user) { %>
                    <a href="/users/login">Login</a>
                    <% } else { %>
                    <a href="/users/logout">Logout</a>
                    <a href="/users/dashboard"><i style="font-size: 1.5rem;" class="far fa-user-circle"></i></a>
                <% } %>

                
        </div>
</div>