<style>
    .error-container {
        padding: 10px;
        margin-top: 30px;
        width: 90%;
        margin: 0 auto;
    }
    .error-body {
    }
    .error-body p {
        padding: 8px;
        color: #fff;
    }
    .error-body a {
        color: lightskyblue;
        text-decoration: none;
    }
</style>

<div class="page-title">
    <h2>Error: 404 - Page Not Found</h2>
</div>

<div class="error-container">
    <div class="error-body">
        <p>Hmmmm... we weren't able to find this page.</p>
        <p>Either this page isn't built yet, or we have ourselves a bug! Let us know if you think this error is on us <a href="#">here</a>.</p>
    </div>
</div>