<style>
  @media screen and (min-width: 300px) {
    .form-container {
      background: rgba(255, 255, 255, 0.25);
      border-top: outset 3px lightskyblue;
      border-bottom: outset 3px lightskyblue;
    }
    .card-header h1 {
      text-align: center;
      font-size: 2rem;
      padding: 20px;
    }
    .input-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
    }
    .input-data {
      width: 100%;
    }
    .input-data label {
      width: 100%;
    }
    .input-data input {
      background:rgba(135, 206, 250, 0.25);
    }
    button {
      width: 80%;
      margin-left: 10%;
      background: rgba(135, 206, 250, 0.3);
      outline: none;
      border: none;
      padding: 10px;
      font-size: 1.7rem;
      color: lightskyblue;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    .login-link {
      padding: 20px;
      text-align: center;
      margin-top: 30px;
    }
    .login-link p {
      color: #fff;
    }
  }
</style>


<form action="/users/login" method="POST">
    <div class="glass">
      <h5><i class="fas fa-sign-in-alt"></i>  Login</h5>
      <div class="input-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="input-control login-input"
          placeholder="Enter your email"
          />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          />
      </div>
    </div>
    <button type="submit">Login</button>
  </form>
</div>
