<style>
    @media screen and (min-width: 299px) {
        #coreData {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 25px;
            padding: 5px;
            border-top: outset 1px rgba(255, 255, 255, 0.75);
            background: transparent;
            backdrop-filter: blur(4px);
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
            box-shadow: 0 -8px 10px rgba(0, 0, 0, 0.5);
            z-index: 99900;
        }
        #coreData h3 {
            color: #fff;
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        }
    }
    @media screen and (min-width: 762px) {
        #coreData {
        }
    }
    @media screen and (min-width: 992px) {
        #coreData {
        }
    }
    @media screen and (min-width: 1199px) {
        #coreData {
        }
    }
</style>

<div id="coreData">
    <h3>DATA FEED</h3>
</div>