<style>
    #healthMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        background: #000;
    }
</style>

<div id="healthMenu">
    <div class="menu-item"><a href="/wellness/health/user-health">Your Health</a></div>
    <div class="menu-item"><a href="/wellness/health/appointments">Appointments</a></div>
    <div class="menu-item"><a href="/wellness/health/research">Research</a></div>
    <div class="menu-item"><a href="/wellness/health/learn">Learn</a></div>
    <div class="menu-item"><a href="/wellness/health/history">History</a></div>
    <div class="menu-item"><a href="/wellness/health/specialists">Speialists</a></div>
    <div class="menu-item"><a href="/wellness/health/help">Help</a></div>
</div>