<style>
    #wellnessHelpMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        background: #000;
    }
</style>

<div id="wellnessHelpMenu">
    <div class="menu-item"><a href="/wellness/help/all-categories">Categories</a></div>
    <div class="menu-item"><a href="/wellness/help/request">Contact Us</a></div>
</div>