<style>
    #nutritionMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        background: #000;
    }
</style>

<div id="nutritionMenu">
    <div class="menu-item"><a href="/wellness/nutrition/diet">Diet</a></div>
    <div class="menu-item"><a href="/wellness/nutrition/food">Food</a></div>
    <div class="menu-item"><a href="/wellness/nutrition/menu">Menu</a></div>
    <div class="menu-item"><a href="/wellness/nutrition/history">History</a></div>
    <div class="menu-item"><a href="/wellness/nutrition/help">Help</a></div>
</div>