<style>

</style>

<div class="page-title">
    <h2>
        <%= pageTitle %>
    </h2>
</div>



<%- include('../partials/menus/user'); %>


    <div class="vertical-zone-nav">
        <div class="zone-item-vertical">
            <a href="/users/settings/update-profile">Update Profile</a>
        </div>
        <div class="zone-item-vertical">
            <a href="#">Prefrences</a>
        </div>
        <div class="zone-item-vertical">
            <a href="#">Privacy</a>
        </div>
        <div class="zone-item-vertical">
            <a href="#">Security</a>
        </div>
    </div>