<style>

</style>


<%- include('../partials/menus/entertainment'); %>

<div class="movie-search">
    <form action="/entertainment/movies/search" method="POST">
        <input type="text" name="movie" id="movie" placeholder="Search for movies...">
        <button type="submit">Search Movies</button>
    </form>
</div>