<style>

</style>

<div class="page-title">
    <h2>All Classes</h2>
</div>

<%- include('../partials/menus/academy'); %>

<div class="card-list">
    <% courses.forEach(function(course) { %>
        <div class="card">
            <div class="card-background">
                <img src="" alt="">
            </div>
            <p><a href="/academy/course/<%= course.id %>"><%= course.course %></a></p>

        </div>
    <% }) %>
</div>