<style>

</style>

<div class="page-title">
    <h1>Manage Public Pages</h1>
</div>

<div class="subpages-container">
    <% subPages.forEach(function(subPage) { %>
        <p style="color: #fff; margin-bottom: 30px; background: blue;"><%= subPage %></p>
    <% }) %>
</div>