<style>

</style>


<%- include('../../../partials/menus/business'); %>

<div class="company-background-image" style="background:url('/image/<%= company.background_image %>') 50% 50% no-repeat; background-size:cover;"></div>
<div class="company-background-image-filter"></div>


<div class="page-title">
    <h1>Employee Portal</h1>
</div>


<div class="manage-public-page">
    <p><a href="/business/admin/<%= company.id %>/manage/public-pages">Manage Public Pages</a></p>
</div>